:root {
  --swiper-theme-color: #000000 !important;
}

section {
  margin-top: 70px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.position {
  position: relative;
  bottom: 70px;
  left: 40px;
}

#navbar a,
#orders a,
#clothingfilter a,
#shoesfilter a,
#menfilter a,
#womenfilter a,
#kidsfilter a,
#products a,
#clothing a,
#shoes a {
  text-decoration: none;
  color: #000000;
}

#clothingfilter .nav-link,
#shoesfilter .nav-link,
#menfilter .nav-link,
#womenfilter .nav-link,
#kidsfilter .nav-link,
#products .nav-link,
#clothing .nav-link,
#shoes .nav-link {
  padding: 0;
}

#category .link-dark:hover {
  text-decoration: underline !important;
}

.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

#navs a:hover {
  text-decoration: underline !important;
}

.btn-icon {
  width: 35px;
  height: 35px;
  --bs-btn-padding-x: 0.2rem !important;
  --bs-btn-padding-y: 0.3rem !important;
}

.btn-icon2 {
  width: 35px;
  height: 35px;
  --bs-btn-padding-x: 0.3rem !important;
  --bs-btn-padding-y: 0rem !important;
}
